[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
[submodule "themes/graysx-hugo"]
	path = themes/graysx-hugo
	url = https://github.com/akatiggerx04/graysx-hugo/
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose.git
