[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose/
